#firstpara{
    width: 1113px;
    height: 250px;
    top: 47px;
    left: 38px;
    border: 2px solid black;   

}

#image{
    width: 1051px;
    height: 350px;
    top: 742px;
    left: 58px;
    
}


#thirdpara{
    width: 1623px;
    height: 469px;
    top: 1795px;
    left: 58px;
    
}